.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .2);
    height: 90px;
    padding-left: 30px;
    padding-right: 30px;

    &-main {
        display: flex;
        align-items: center;
    }

    &-logo {
        background-image: url('../assets/logos/cepsem.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 180px;
        height: 70px;
    }

    &-nav {
        margin-left: 50px;
        max-width: 400px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        a {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &-trail {
        display: flex;
        align-items: center;
    }

    &-icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 20px;
        width: 35px;
        height: 35px;



        &--formacio {
            background-image: url('../assets/icons/class.svg');
        }

        &--helpbox {
            background-image: url('../assets/icons/helpbox.svg');
        }

        &--login {
            background-image: url('../assets/icons/logout.svg');
            background-position: 100% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            padding-right: 35px;
        }
    }

}
