.button{
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 16px 32px;
    transition: opacity ease 0.2s;

    &--blue{
        background-color: $c_blue;
    }

    &--pink{
        background-color: $c_pink;
    }

    &-icon{
        background-size: 30px;
        background-position: 16px 50%;
        background-repeat: no-repeat;
        padding-left: 60px;
    }

    &:hover{
        cursor: pointer;
        opacity: 0.75;
    }
}
